footer {
    padding: 0 200px 20px;
    background: #2a2a2a;
}

.footer-heading {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: flex-start;
    align-content: center;
    margin: 0 auto 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-heading nav {
    color: #686868;
    text-transform: uppercase;
}

.footer-heading nav a:after {
    opacity: 0;
}

.footer-heading nav a {
    color: #686868;
}

.footer-heading nav a:active {
    color: #fff;
}


.footer-heading nav a:hover:after {
    opacity: 0;
}

.footer-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-column {
    margin-left: 0;
    width: 33.3%;
    align-content: center;
}

.footer-column:first-child {
    line-height: 1.8em;
    border-right: 1px solid #4a4a4a;
}

.footer-column:last-child {
    border-left: 1px solid #4a4a4a;
}

.footer-column ul {
    margin-top: 0;
    list-style-type: none;
    color: #686868;
    cursor: pointer;
}

.footer-column ul li {
    padding: 5px 0;
}

.footer-column ul li:active {
    color: #fffefe;
}

.footer-column span {
    font-size: 15px;
}

.options-column {
    display: flex;
    flex-direction: row;
}

.fa.fa-phone {
    transform: rotate(90deg);
    color: #686868;
}

.footer-column > ul > li:nth-child(1) > a {
    padding-left: 15px;
}

.fa.fa-envelope {
    padding: 5px 15px 5px 0;
    color: #686868;
}

.footer-column ul li {
    padding-left: 35px;
}

.footer-column ul a {
    padding: 15px 0;
    text-decoration: none;
    color: #686868;
}
