header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: flex-start;
    align-content: center;
    margin: 0 200px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.logo {
    margin: 30px auto 0 0;
    width: 133px;
    height: 29px;
}

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

nav a {
    position: relative;
    margin: 24px auto;
    padding: 10px;
    height: 20px;
    text-decoration: none;
    color: #fff;
}

nav a:last-child {
    margin-right: 0;
}

nav a:hover {
    margin-bottom: -2px;
}

nav a:after {
    content: " ";
    display: block;
    height: 1px;
    background: #fff;
    margin: 4vh auto;
    opacity: 0;
}

nav a:hover:after {
    opacity: 1;
}

.overlay-container {
    background: url("../img/header-bg.png") no-repeat;
    background-size: cover;
}

.backgroung-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20vh 0;
    height: 70vh;
    color: #fff;
}

.auth {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 205px;
    text-align: center;
    align-items: center;
    height: 13vh;
    background: #36ab6c;
}

.auth-link {
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

.auth::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 99%;
    width: 52%;
    height: 100%;
    background-color: rgba(32, 55, 71, 0.91);;
    transform: skewX(167deg);
}